<div id="content">
    <div class="text-center">
        <h1>Mihai's London Crime Map</h1>
    </div>
    <div id="map"></div>
    <div class="text-center">
        <p>Drag selection across the map to view crimes in the area.</p>
        <p>Click on a marker to view more details about the crime.</p>
    </div>
</div>
